# Postgres
POSTGRES_USER=notification_service
POSTGRES_PASSWORD=your_password
POSTGRES_DB=whispr_notification_dev
POSTGRES_PORT=5432
POSTGRES_INITDB_ARGS="-E UTF8"

# Redis
REDIS_PORT=6379

# HTTP/HTTPS ports dans le container
HTTP_PORT=4000
HTTPS_PORT=4001

# JWT / JWKS Configuration
# JWT_JWKS_URL=http://auth-service/auth/.well-known/jwks.json
JWT_JWKS_URL=http://localhost:8081/jwks.json
JWT_ISSUER=whispr-auth
JWT_AUDIENCE=whispr-notification
JWT_ALLOWED_ALGS=HS256
