---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: whispr-prod
  labels:
    app: notification-service
    app.kubernetes.io/name: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 80
      targetPort: 4002
      protocol: TCP
    - name: grpc
      port: 4003
      targetPort: 4003
      protocol: TCP
