name: Elixir Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Login Docker Hub
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Variables de build
      - name: Set build variables
        run: |
          echo "SERVICE_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
          echo "BUILD_DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      # Build & Push image Phoenix vers Docker Hub
      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            malekbh/whispr:${{ env.SERVICE_NAME }}-latest
            malekbh/whispr:${{ env.SERVICE_NAME }}-${{ env.BUILD_DATE }}-${{ env.SHORT_SHA }}

      # Run container from the built image
      - name: Run container for tests
        run: |
          docker run -d --name whispr_notification \
            -e MIX_ENV=test \
            malekbh/whispr:${{ env.SERVICE_NAME }}-latest \
            tail -f /dev/null

      # Install Hex & Deps inside container
      - name: Install Elixir Deps
        run: |
          docker exec whispr_notification mix local.hex --force
          docker exec whispr_notification mix deps.get

      # Compile & Run tests
      - name: Run Tests
        run: |
          docker exec whispr_notification mix compile --warnings-as-errors
          docker exec whispr_notification mix test
