# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Elixir CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:15-alpine
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: notification_service
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        elixir: ['1.18.0']
        otp: ['28.0']
    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir and Erlang/OTP
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
      # - name: Restore deps cache
      #   uses: actions/cache@v4
      #   with:
      #     path: deps
      #     key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
      # - name: Restore build cache
      #   uses: actions/cache@v4
      #   with:
      #     path: _build
      #     key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}-build
      - name: Install dependencies
        run: mix deps.get
      - name: Clean earmark_parser
        run: mix deps.clean earmark_parser --all
      - name: Update earmark_parser
        run: mix deps.update earmark_parser
      - name: Compile
        run: mix compile --warnings-as-errors
      - name: Check Formatting
        run: mix format --check-formatted
      - name: Run Tests
        run: mix test
