# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Elixir Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Installe Docker Compose et Just si non présents
      - name: Install Docker Compose & Just
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          curl -fsSL https://just.systems/install.sh | bash -s -- --to /usr/local/bin


      # Installe Hex et les dépendances dans le container Phoenix
      - name: Install Elixir Deps in container
        run: |
          docker exec whispr_notification \
            mix local.hex --force
          docker exec whispr_notification \
            mix deps.get

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set build variables
        run: |
          echo "SERVICE_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
          echo "BUILD_DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            malekbh/whispr:${{ env.SERVICE_NAME }}-latest
            malekbh/whispr:${{ env.SERVICE_NAME }}-${{ env.BUILD_DATE }}-${{ env.SHORT_SHA }} 
      
